@media screen and (max-width: 992px) {
  .main__header {
    flex-direction: column;
    align-items: center;
  }

  .feedback {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 920px) {
  .more__text {
    margin-left: 120px;
  }

  .more__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  .shoplist__offer {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 820px) {
  .dreams {
    flex-direction: column;
  }
  .dreams__text {
    margin-bottom: 50px;
  }

  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__links {
    margin-bottom: 50px;
  }
  .footer__links:last-child {
    margin-bottom: 0;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .description {
    width: 100%;
  }

  .details {
    display: none;
  }

  .main__header__photo {
    margin-bottom: 30px;
    width: 100%;
  }

  .feedback {
    width: 100%;
    margin: 0;
    margin-bottom: 70px;
  }

  .more__text {
    margin-left: 30px;
  }

  .feautures {
    margin-bottom: 70px;
  }

  .shoplist__offer {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .product_name {
    flex-direction: column;
    align-items: start;
  }

  .product_name__describe {
    margin-top: 30px;
  }

  .product_name__price {
    margin-top: 30px;
  }

  .product_name__price__describe {
    text-align: left;
  }
}